

  .navbar {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .footer {
    position: absolute;
    bottom: 0%;
    margin: auto;
  }
  .btn-dark:hover{
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.55);
  }

  .btn-google {
    display: inline-block;
    font-size: 16px;
    padding: 12px 23px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
  }
  .btn-google:hover{
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.55);
  }
  .google-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }

  .btn-text {
    display: inline-block;
    vertical-align: middle;
  }
  .text-m{
    color: #333;
  }
  .navbar-brand:hover {
    text-shadow: 0px 5px 7px rgb(0, 0, 0, 1);
  }
  .nav-link:hover{
    text-shadow: 0px 5px 7px rgb(0, 0, 0, 1);
  }